@font-face {
    font-family: Ubuntu;
    src: url(./fonts/Ubuntu-Light.woff2);
    font-weight: normal;

    font-family: Ubuntu;
    src: url(./fonts/Ubuntu-Medium.woff2);
    font-weight: 600;

    font-family: Ubuntu;
    src: url(./fonts/Ubuntu-Bold.woff2);
    font-weight: 900;
}

.page {
   
}

.main {
    max-width: 960px;
    min-width: 860px;
    min-height: 100vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #4d2e28;
    font-family: Ubuntu, Arial, Helvetica, sans-serif;
}

.title {
    margin: 0;
    margin-top: 40px;
    margin-bottom: 80px;
    font-size: 34px;
    font-weight: 900;
    line-height: 30px;
    color: #dad9d9;
}

.cards {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 500px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px #84614c;
    background-size: cover;
    transition: transform 0.2s linear 0.1s;
}

.card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.card__item_1 {
    background-image: url(./image/кекс.jpg);
    background-position: -20px;
}

.card__item_2 {
    background-image: url(./image/печенье.jpg);
    background-position: -30px;
}

.card__item_3 {
    background-image: url(./image/трюфель.jpg);
    background-position: -40px;
}

.card__title {
    color: #dad9d9;
    text-align: center;
    margin: 0;
    margin-top: 50px;
}

.description {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 40px;
    width: 80%;
    text-align: center;
}

.font-weigth {
    font-weight: bold;
}